body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    margin: 0 50px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 55px auto 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

#thanks-layout {
    margin-top: 15px;
    display: none;
}

#thanks-layout p {
    color: #009688;
}